
__pycache__/

.vscode

*.db

/Lib

/Scripts

*.pyc

*.jpg

*.png

*.*~*

~*.*

!todaysUnyang/**/unyang4cut/

todaysUnyang/**/unyang4cut/*

!todaysUnyang/**/unyang4cut/FRAMES/

!todaysUnyang/**/unyang4cut/1234/

!todaysUnyang/**/1234/*

!todaysUnyang/**/FRAMES/*

!todaysUnyang/**/image.jpg

/**/include/*

*.cfg