env*

__pycache__

.vscode

*.db

/Lib

/Scripts

*.pyc

*.jpg

*.png

env.py

*.*~*

~*.*

!todaysUnyang/**/unyang4cut/

todaysUnyang/**/unyang4cut/*

!todaysUnyang/**/unyang4cut/FRAMES/

!todaysUnyang/**/FRAMES/*

!todaysUnyang/**/image.jpg

include/

*.cfg