{% extends "base.html" %}
{% block content %}
<div class="container align-items-center">
    <div class="row gx-4 gx-lg-5 my-5">
        <div class="col-lg-5 text-center card-body">
            <h1 class="fw-bold fs-1">오늘의 운양고</h1>
            <p>그리고 개발자들</p>
        </div>
    </div>

    <div class="row gx-4 gx-lg-5 ">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">프론트 엔드</h2><br>
                    
                    <p class="card-text">양동혁, 김다온, 김도현, 김하진, 이재형</p>
                </div>
                <div class="card-footer fw-light">지금 보이는 웹페이지의 디자인을 담당했습니다.</div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">급식 정보</h2><br>
                    
                    <p class="card-text">엄정화, 박채원</p>
                </div>
                <div class="card-footer fw-light">급식 정보를 불러오는 기능을 만들었습니다.</div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">날씨 정보</h2><br>
                    
                    <p class="card-text">강건우, 공은솔, 방채린</p>
                </div>
                <div class="card-footer fw-light">날씨 정보를 가져오는 기능을 만들었습니다.</div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">시간표</h2><br>
                    
                    <p class="card-text">조민규, 황현호, 김종혁</p>
                </div>
                <div class="card-footer fw-light">개인별 시간표를 불러오는 기능을 만들었습니다.</div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">학사일정</h2><br>
                    
                    <p class="card-text">정원석, 김유겸, 이혁주</p>
                </div>
                <div class="card-footer fw-light">학사일정을 가져오는 기능을 만들었습니다.</div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">웹 앱</h2><br>
                    
                    <p class="card-text">김예준</p>
                </div>
                <div class="card-footer fw-light">스마트폰용 웹앱을 개발했습니다.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}