body {
    max-width: 600px;
    margin: 0 auto;
}

#title {
    font-size: 45px;
    font-weight: bold;
    color: pink;
    text-align: left;
    margin-left: auto;
}

#inputbox {
    margin: 0 auto;
    height: 50px;
}

.cladding {
    border: solid black 3px;
    border-radius: 6px;
    width: 95%;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.box {
    border: solid pink 1px;
    border-radius: 6px;
    width: 20%;
    height: 80%;
    text-align: left;
    font-size: 100%;
    font-style: bold;
    padding-bottom: 3%;
}

.boxTitle {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
}

.text {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lunch_menu {
    flex-grow: 1;
}

#lunch_nutrition_graph {
    flex-grow: 2;
    
}

img {
    height: 70%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}